* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Kantumruy Pro', sans-serif; */
}

body{
    background-color: #121212;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media(max-width: 350px){
    .header{
        min-height: 50vh;
    }
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/*------name / logo------*/
nav h3{
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}

nav h3 a{
    text-decoration: none;
    color: #fff;
}

/*------Nav links------*/
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li a i{
    font-size: 24px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: 0.5s;
}
.nav-links ul li:hover{
    transform: translateY(-2px);
}


.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.nav-links ul li a:hover{
    -webkit-animation: rainbow 3s linear infinite alternate;
}

/*------Hero Text Box------*/

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-box h1{
    font-size: 85px;
}

.text-box h3{
    font-size: 18px;
    padding-top: 50px;
    margin-left: 10%;
}

.text-box h3 span{
    font-family: 'Pacifico', cursive;
}

/*------Rainbow Animation Text------*/

.color-change{
    -webkit-animation: rainbow 10s linear infinite alternate;
}

@keyframes rainbow{
    0% {color: #ff8b00;}
    10% {color: #e8ff00;}
    20% {color: #5dff00;}
    30% {color: #00ff2e;}
    40% {color: #00ffb9;}
    50% {color: #00b9ff;}
    60% {color: #002eff;}
    70% {color: #5d00ff;}
    80% {color: #e800ff;}
    90% {color: #ff00b8;}
    100% {color: #ff0000;}
}

/*------Rainbow Animation Text------*/



/*------HAMBURGER MENU------*/
nav .fa-bars{
    display: none;
}
nav .fa-times{
    display: none;
}
/*@MEDIA QUERY*/
@media(max-width: 750px){

    .nav-links ul li{
        display: block;
    }
    /*END of MEDIA QUERY*/
    .nav-links{
        position: fixed;
        background: #121212;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    nav .fa:hover{
        -webkit-animation: rainbow 10s linear infinite alternate; 
    }
    
    .nav-links ul{
        padding: 30px;
    }

    .text-box h1{
        font-size: 75px;
    }



}
/*------MOUSE SCROLL ICON------*/
.scroll-down{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse{
    width: 1.5rem;
    height: 3rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}
.mouse span{
    width: .5rem;
    height: .5rem;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1.5s linear infinite;
}
.arrow span{
    display: block;
    width: .5rem;
    height: .5rem;
    border: 2px solid transparent;
    border-right-color:#fff;
    border-bottom-color:#fff;
    transform: rotate(45deg);
    animation: arrow-down 1s linear infinite;
}
/*------KEY FRAMES FOR MOUSE WHEEL ANIMATION------*/

@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    50%{
        opacity: .5;
        transform: translateY(.1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}
/*------KEY FRAMES FOR ARROW UNDER MOUSE WHEEL------*/
@keyframes arrow-down{
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}

/*------PROJECT SECTION------*/

.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 25px;  
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    min-height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative
}


.col{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    margin: 20px 5px;
    padding: 5px;
}


.col img{
    width: 100%;
    border-radius: 10px;
    height: 30vh;
    transition: .5s;
}

.col img:hover{
    box-shadow: 0 0 20px 0px rgba(103, 103, 103, 0.2);
    transform: translateY(-2px);
}
.col p{
    padding: 0;
}

.col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.col ul{
margin-left: 40px;
    text-align: left;
}

.site-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 17px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    transition: .5s;
    font-weight: 500;
}

.site-btn:hover{
    -webkit-animation: rainbow 10s linear infinite alternate; 
    transform: translateY(-2px);
    background-color: #121212;
}


@media(max-width: 850px){
    .row{
        flex-direction: column;
    }
}

/*------ABOUT AND CONTACT SECTION------*/

.about-row{
    /* display: flex; */
    height: 88%;
    width: 70%;
    align-items: center;
    min-height: 50vh;
    margin: auto;
    padding: 60px 0;
}

.about-col{
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 20px 5px;
    padding: 20px;
    text-align: center;
}

.about-col p{
    font-size: 20px;
    line-height: 50px;
}


@media(max-width: 850px){
    .about-row{
        flex-direction: column;
    }
}

.technologies{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.technologies div{
    padding: 1rem 2rem;
    font-size: 14px;
}

/*------Social Links------*/


.contact h3{
    font-size: 4rem;
    font-weight: 500;
    padding: 60px 0 20px;
    margin-left: 20px;
    margin: 0 auto;
}

.social-icons ul{
    display: flex;
justify-content: center;
font-size: 2rem;
padding: 1rem;
}


.social-icons li {
    list-style: none;
    transition: .5s;
}
.social-icons li:hover {
    transform: translateY(-2px); 
}

.social-icons li a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
}

.social-icons li a:hover{
    -webkit-animation: rainbow 10s linear infinite alternate;
}